<figure>
    <figcaption> {{ with .Title }} {{ . }} {{ end }} </figcaption>
    <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} />
</figure>